@import './variables.css';

/* ... FOOTER ... */



footer{
    margin-top: 20px;
}
.footer-content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    background-image: radial-gradient(circle 821px at 0.7% 1.8%, rgba(244, 238, 124, 0.726) 0%, rgba(227, 106, 106, 1) 90%);
    border-radius: 20px 20px 0px 0px;
}

.footer-content span{
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    transition: color 0.3s, transform 0.2s;
}

.social-icons a:hover {
    color: var(--color-C);
    transform: translateY(-3px);
}